<template>
  <Screen>
    <Card :header-text="'$TM_FILENAME_BASE'"> </Card>
    <NavigationFooter>
      <!-- :showSave="" -->
      <!-- :showCreate="" -->
      <!-- :saveDisabled="" -->
      <!-- @create="" -->
      <!-- @save="" -->
    </NavigationFooter>
  </Screen>
</template>

<script lang="ts">
// vue
import { Component, Vue } from "vue-property-decorator";
// components
import Card from "@/common/component/card/Card.vue";
import NavigationFooter from "@/common/component/NavigationFooter.vue";
import Screen from "@/common/component/Screen.vue";

@Component({
  components: {
    Card,
    NavigationFooter,
    Screen,
  },
})
export default class $TM_FILENAME_BASE extends Vue {}
</script>

<style lang="scss" scoped></style>
